NEXT_PUBLIC_SOLANA_CLUSTER=devnet
NEXT_PUBLIC_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_PROGRAM_ID=EopUaCV2svxj9j4hd7KjbrWfdjkspmm2BCBe7jGpKzKZ
GROQ_API_KEY=your_groq_api_key
GROK_API_KEY=your_xai_api_key
